   html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, tt, var,
	b, u, i, center,dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video 
	{
		margin: 0 auto;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
	}
	body {
	    background: #000000;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    min-width: 1200px;
	    font-family: 'Microsoft Yahei';
	    font-size: 12px;
	    line-height: 1.5em;
	    color: #333333;
	}
	.all{
		width: 100%;
		height: 100%;
	}
	.M-header{
		background-color: #131313;
		position: relative;
		width: 100%;
		height: 89px;
		z-index: 200;
		text-align:center;
	}
	.M-header .logo{
		background: url(../img/logo.png) no-repeat;
	    width: 150px;
	    height: 89px;
	    text-indent: -9999em;
	    outline: 0;
	    display: block;
	}
	.M-header .nav ul li a {
	    padding: 0 8px;
	    height: 52px;
	    border-bottom: 2px #131313 solid;
	    text-align: center;
	    font-size: 14px;
	    color: #B2B2B2;
	    display: block;
	    float: right;
    }
    .clearfix{
		display: inline-table;
    }
    .left{
    	float: left;
    }
    .row {
    	width: 1200px;
	    position: relative;
	}
    ul {
    	display: none;
    	list-style: none;
    }
	
	.M-header .nav ul li {
	    padding-top: 35px;
	    height: 54px;
	    margin: 0 20px;
	    float: left;
	}
	.M-header .nav {
	    margin-left: 300px;
	}
	.M-home {
	    margin-bottom: 100px;
	}
	.container, .row {
	    position: relative;
	    margin: 0 auto;
	    width: 1200px;
	}
	.video-module {
	    width: 100%;
	    height: 674px;
	}
	.video-module .video-body .pic-wrapper {
	    position: relative;
	    width: 100%;
	    height: 612px;
	}
	.video-module .video-body .pic-wrapper .picbox {
	    position: absolute;
	    width: 100%;
	    height: 612px;
	    left: 0;
	    top: 0;
	    overflow: hidden;
	    display: block;
    }
    .video-module .video-body .pic-wrapper .picbox .video {
	    position: absolute;
	    width: 1200px;
	    height: 675px;
	    top: -32px;
	    left: 0;
    }
    .video-module .video-body .pic-wrapper .picbox .text {
	    position: absolute;
	    width: 1200px;
	    height: 612px;
	    left: 0;
	    top: 0;
	    z-index: 100;
	}
	img {
	    max-width: 100%;
	}
	.video-module .video-body .pic-wrapper .picbox .text .btn {
	    position: absolute;
	    width: 100%;
	    height: 37px;
	    top: 430px;
	    left: 0;
	    text-align: center;
	}
	.video-module .video-body .pic-wrapper .picbox .text .btn a {
	    min-width: 160px;
	    font-family: 宋体;
	    font-size: 14px;
	    color: rgb(255, 255, 255);
	    line-height: 35px;
	    margin: 0px 5px;
	    padding: 0px 10px;
	    border-width: 1px;
	    border-style: solid;
	    border-color: rgb(255, 255, 255);
	    border-image: initial;
	}
	.video-module .video-body .pic-wrapper .picbox .text .btn a {
	    min-width: 160px;
	    font-family: 宋体;
	    font-size: 14px;
	    color: rgb(255, 255, 255);
	    line-height: 35px;
	    margin: 0px 5px;
	    padding: 0px 10px;
	    border-width: 1px;
	    border-style: solid;
	    border-color: rgb(255, 255, 255);
	    border-image: initial;
	}
	.inline-block {
	    display: inline-block;
	    display: inline;
	    zoom: 1;
	}
	.ellipsis {
		text-overflow: ellipsis; 
		overflow: hidden; 
		white-space: nowrap;
	}	
	.M-home {
		margin-bottom: 100px;
	}
	.video-module {
		width: 100%;
		height: 674px;
	}
	.video-module .video-body .pic-wrapper {
		position: relative;
		width: 100%;
		height: 612px;
	}
	.video-module .video-body .pic-wrapper .picbox {
		position: absolute;
		width: 100%;
		height: 612px;
		left: 0;
		top: 0;
		overflow: hidden;
		display: none;
	}
	.video-module .video-body .pic-wrapper .picbox .video {
		position: absolute;
		width: 1200px;
		height: 675px;
		top: -32px;
		left: 0;
	}
	.video-module .video-body .pic-wrapper .picbox.active {
		display: block;
	}
	.video-module .video-body .pic-wrapper .picbox .text {
		position: absolute;
		width: 1200px;
		height: 612px;
		left: 0;
		top: 0;
		z-index: 100;
	}
	.video-module .video-body .pic-wrapper .picbox .text .btn {
		position: absolute;
		width: 100%;
		height: 37px;
		top: 430px;
		left: 0;
		text-align: center;
	}
	.video-module .video-body .pic-wrapper .picbox .text .btn a {
		margin: 0 5px;
		padding: 0 10px;
		min-width: 160px;
		font-family: '宋体';
		font-size: 14px;
		color: #FFFFFF;
		line-height: 35px;
		border: 1px #FFFFFF solid;
		display: inline-block
	}
	.video-module .video-body .pic-wrapper .picbox .text .btn a:hover {
		background-color: rgba(0,0,0,0.5);
		background-color: #000000\9;
		border: 1px transparent solid;
	}
	.video-module .video-nav {
		background-color: #131313;
		width: 100%;
		height: 62px;
	}
	.video-module .video-nav ul {
		margin: 0 auto;
		width: 1199px;
		border-right: 1px #B2B2B2 dotted;
	}
	.video-module .video-nav ul li {
		width: 196px;
		height: 62px;
		border-left: 1px #B2B2B2 dotted;
		text-align: center;
		color: #B2B2B2;
		float: left;
		cursor: pointer;
	}
	.video-module .video-nav ul li .en-text {
		font-size: 14px;
		line-height: 62px;
	}
	.video-module .video-nav ul li .cn {
		padding-top: 14px;
		font-size: 16px;
		line-height: 24px;
	}
	.video-module .video-nav ul li .en {
		font-size: 10px;
	}
	.video-module .video-nav ul li.active {
		background-color: #959494;
		color: #000000;
	}
	.feature-content ul {
		margin: 60px 90px;
		width: 1020px;
	}
	.feature-content ul li {
		position: relative;
		margin: 0 10px;
		width: 320px;
		height: 206px;
		float: left;
	}
	.feature-content ul li a {
		color: #B2B2B2;
		display: block;
	}
	.feature-content ul li .icon,
	.feature-content ul li .icon img {
		width: 320px;
		height: 206px;
	}
	.feature-content ul li a:hover {
		color: #FFFFFF;
	}
	.feature-content ul li a:hover .gray {
		display: none;
	}
	.feature-content ul li .gray {
		background-color: #000000;
		position: absolute;
		width: 320px;
		height: 206px;
		left: 0;
		top: 0;
		opacity: 0.5;
		filter: alpha(opacity=50);
	}
	.feature-content ul li .content {
		position: absolute;
		padding-top: 85px;
		width: 320px;
		height: 30px;
		left: 0;
		top: 0;
		text-align: center;
		overflow: hidden;
	}
	.feature-content ul li .content h2 {
		font-size: 18px;
		line-height: 30px;
	}
	.feature-content ul li .content p {
		font-size: 14px;
	}
	.feature-content ul li .content .line {
		background-color: #FFFFFF;
		margin: 20px auto;
		width: 30px;
		height: 1px;
	}
	.M-footer .foot-nav {
		background-color: #131313;
		position: relative;
		padding: 80px 0;
		text-align: center;
	}
	.M-footer .foot-nav ul li {
		margin-right: 100px;
		float: left;
	}
	.M-footer .foot-nav ul li.first-child {
		width: 165px;
	}
	.M-footer .foot-nav ul li a {
		color: #A0A0A0;
		text-align: center;
		display: block;
	}
	.M-footer .foot-nav ul li .title {
		font-size: 20px;
		line-height: 1.5em;
	}
	.M-footer.en .foot-nav ul li .title {
		font-size: 16px;
		height: 60px;
	}
	.M-footer .foot-nav ul li .description {
		margin-top: 20px;
		font-size: 13px;
		line-height: 20px;
	}
	.M-footer.en .foot-nav ul li .description {
		margin-top: 10px;
		height: 100px;
	}
	.M-footer .foot-nav ul li .btn {
		display: block;
		margin: 40px auto 0;
		padding: 5px 20px;
	}
	.M-footer.en .foot-nav ul li .btn {
		margin: 20px auto 0;
	}
	.M-footer .foot-nav ul li a:hover {
		color: #FFFFFF;
	}
	.M-footer .foot-nav ul li a:hover .btn {
		background-color: #FFFFFF;
		color: #000000;
	}
	.M-footer .foot-nav ul li a.join {
		cursor: auto;
	}
	.M-footer .foot-nav ul li a.join:hover {
		color: #A0A0A0;
	}
	.M-footer .foot-nav ul li a.join:hover .btn {
		background: none;
		color: #A0A0A0;
	}
	.M-footer.en .foot-nav ul li {
		margin-right: 50px;
	}
	.M-footer .foot-nav .hotline {
		font-family: 'Arial';
		margin-top: 60px;
		font-size: 34px;
		line-height: 50px;
		color: #EDEDED;
	}
	.M-footer .foot-nav .hotline label {
		font-size: 15px;
		color: #EDEDED;
		line-height: 24px;
		display: block;
	}
	.M-footer .foot-nav .hotline p {
		font-size: 12px;
		color: #A0A0A0;
		line-height: 18px;
	}
	.M-footer .foot-nav .hotline p span {
		padding: 0 5px;
	}
	.M-footer.en .foot-nav .hotline {
		position: absolute;
		margin-top: 0;
		right: 50px;
		top: 190px;
		font-size: 24px;
		line-height: 30px;
		color: #EDEDED;
	}
	.M-footer.en .foot-nav .hotline label {
		font-size: 12px;
		color: #A0A0A0;
		line-height: 18px;
		text-align: right;
	}
	.M-footer.en .foot-nav .hotline p {
		margin-top: 5px;
		font-size: 12px;
		color: #A0A0A0;
		line-height: 18px;
		text-align: right;
	}
	.M-footer .copyright {
		background-color: #171717;
		padding: 35px 0;
		text-align: center;
		color: #9C9C9C;
	}
	.M-footer .copyright span {
		padding: 0 10px;
	}
	
	/**
	 * Tools
	 */
	.tools-bar {
		position: fixed;
		height: 120px;
		top: 50%;
		margin-top: -60px;
		right: 20px;
		z-index: 9999;
	}
	.tools-bar .nav {
		width: 50px;
	}
	.tools-bar .nav a {
		background: url("tools_icon.png") no-repeat;
		margin-top: 10px;
		width: 50px;
		height: 50px;
		display: block;
	}
	.tools-bar .nav a.customer:hover {
		background-position: 0 0;
	}
	.tools-bar .nav a.customer {
		background-position: -50px 0;
	}
	.tools-bar .nav a.gotop:hover {
		background-position: 0 -60px;
	}
	.tools-bar .nav a.gotop {
		background-position: -50px -60px;
	}
	.tools-bar .nav-content {
		position: absolute;
		width: 168px;
		height: 236px;
		right: 50px;
		top: -35px;
		display: none;
	}
	.tools-bar .nav-content .customer-qrcode {
		width: 161px;
		height: 236px;
	}